* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  background-color: beige;
  height: 70px;
  padding: 10px 20px;
}

.header__text {
  font-size: 44px;
}

.content {
  background-color: bisque;
  min-height: calc(100% - 70px - 70px);
  padding: 30px 20px;
}

.homeworks {
  display: flex;
  flex-direction: column;
}

.homeworks__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}
.homeworks__link {
  color: black;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 20px;
}
.homeworks__link:hover,
.homeworks__link:active,
.homeworks__link:focus {
  color: rgb(56, 56, 56);
}
.footer {
  background-color: beige;
  height: 70px;
  padding: 10px 20px;
}
