* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(28, 58, 102, 0.7);
  height: 70px;
  padding: 10px 20px;
}
.header__text {
  font-size: 28px;
  color: #fff;
}

.content {
  flex-grow: 1;
  min-width: 320px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.main__info {
  font-size: 18px;
  color: #163f5f;
}

.tasklist__text {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0a2a42;
}
.tasklist__list {
  list-style: none;
}
.tasklist__item {
  margin-bottom: 10px;
}
.tasklist__result {
  font-size: 10px;
  padding: 5px 0;
}

.footer {
  position: static;
  background-color: #6b8cc9;
  height: 70px;
  padding: 10px 20px;
  color: #fff;
}
