* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  background-color: beige;
  height: 70px;
  padding: 10px 20px;
}
.header__title {
  font-size: 28px;
}

.content {
  background-color: bisque;
  min-height: calc(100% - 70px - 70px);
  padding: 30px 20px;
}

.cards {
  margin-top: 30px;
}
.cards__item {
  width: 32%;
  display: inline-block;
  height: 600px;
}
.card {
  background: rgb(235, 233, 233);
  box-shadow: 0 0 30px 5px #00000080;
  margin-right: 1.5%;
  margin-bottom: 30px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card__title {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
.card__image {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
.card__description {
  height: 100px;
  overflow: hidden;
  font-size: 16px;
  padding: 20px 20px 10px;
}
.card__price {
  padding: 15px 20px;
  font-size: 32px;
  text-align: right;
}
.btn {
  padding: 10px;
}
.card__btn {
  padding: 10px 20px;
  text-align: right;
}
.btn:hover {
  background-color: #fff;
}

.footer {
  background-color: beige;
  height: 70px;
  padding: 10px 20px;
}
