* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  background-color: rgba(102, 46, 28, 0.7);
  height: 70px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__text {
  font-size: 28px;
  color: #fff;
}

.content {
  background-color: #ebdcb2;
  min-height: calc(100% - 70px);
  padding: 30px 20px;
  padding-top: 100px;
  display: flex;
  min-width: 360px;
}
.content__sidebar {
  width: 20%;
}
.content__main-info {
  width: 80%;
  padding-left: 50px;
}
.sidebar__title {
  margin-top: 5px;
}
.sidebar__content {
  position: relative;
  top: 25px;
}

.main-info__title {
  margin-bottom: 20px;
}

.useful-links {
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px;
}
.useful-links::before {
  content: "ссылки открываются в новом окне";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 20px;
  background-color: #662e1c;
  color: #fff;
  text-align: center;
}
.useful-links__link {
  font-size: 26px;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(104, 104, 104);
}
.useful-links__link:hover {
  color: rgba(75, 73, 73, 0.5);
}
.address-book__list {
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  color: #532516;
}
.address-book__letter {
  height: 50px;
  border: 1px solid #662e1c;
  background: #c9a66b;
  padding: 0 20px;
  font-weight: bold;
  font-size: 24px;
  position: sticky;
  top: 70px;
}
.address-book__name {
  min-height: 30px;
  line-height: 30px;
  border: 1px solid #662e1c;
  background: #bea477;
  padding: 0 20px;
}
.main-info__just-for-scroll {
  margin-top: 40px;
  font-size: 26px;
  line-height: 32px;
}

.btn {
  padding: 10px;
}
.btn:hover {
  background-color: #fff;
}

.footer {
  position: static;
  background-color: #c9a66b;
  height: 70px;
  padding: 10px 20px;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .content__main-info {
    padding-left: 20px;
  }
  .useful-links {
    padding-top: 0px;
  }
  .useful-links::before {
    position: relative;
    font-size: 10px;
  }
  .useful-links__link {
    font-size: 12px;
  }
  .main-info__just-for-scroll {
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}
