* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.content {
  background: #1b2473;
  min-height: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  padding: 82px 20px;
}

.content__form {
  align-self: flex-start;
}
.form-auth {
  width: 600px;
  background: #ffffff;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 26px 46px 26px 45px;
  color: #787878;
}
.form-auth__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 14px;
}
.form-auth__row {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form-auth__row_required::before {
  content: "*";
  position: absolute;
  top: 29px;
  left: -10px;
  font-size: 14px;
}
[data-haserrors="true"]::before {
  color: #cb2424;
}
[data-haserrors="true"] .form-auth__input {
  border: 2px solid #cb2424;
}
.form-auth__row_required-check::before {
  content: "*";
  position: absolute;
  top: 5px;
  left: -10px;
  font-size: 14px;
}

.form-auth__row:last-child {
  margin-bottom: 0;
}
.form-auth__label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding: 3px 8px;
}
.form-auth__input {
  min-height: 49px;
  background: #ffffff;
  border: 2px solid #787878;
  border-radius: 10px;
  padding: 6px 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.form-auth__input:focus {
  outline-color: #222;
}
.form-auth__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #cccccc;
}
.form-auth__checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.form-auth__checkbox:focus + .form-auth__label-checkbox::before {
  border-color: #222;
}
.form-auth__checkbox:checked + .form-auth__label-checkbox::before {
  border-color: #262e70;
}
.form-auth__checkbox:focus + .form-auth__label-checkbox::after {
  color: #222;
}
.form-auth__checkbox:checked + .form-auth__label-checkbox::after {
  font-size: 24px;
  color: #262e70;
}
.form-auth__checkbox:focus ~ .form-auth__label-checkbox {
  color: #222;
}
.form-auth__checkbox:checked ~ .form-auth__label-checkbox {
  color: #262e70;
}
.form-auth__wrapper-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3px;
}
.form-auth__label-checkbox {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  transition: 0.2s color ease 0s;
  display: inline-flex;
  align-items: center;
}
.form-auth__label-checkbox::before {
  content: "";
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 2px solid #787878;
  border-radius: 7px;
  margin-right: 10px;
  transition: 0.2s border-color ease 0s;
}
[data-haserrors="true"] .form-auth__label-checkbox::before {
  border: 2px solid #cb2424;
}
.form-auth__label-checkbox::after {
  content: "✓";
  font-size: 0;
  position: absolute;
  top: 8px;
  left: 6px;
  transition: 0.2s font-size ease 0s;
}
.form-auth__label-checkbox:hover {
  color: #262e70;
  cursor: pointer;
}
.form-auth__label-checkbox:hover::before {
  border-color: #262e70;
}
.form-auth__link:hover {
  color: #505050;
}
.form-auth__link {
  color: #787878;
}
.form-auth__error,
[data-error="true"] {
  /* width: 100%; */
  color: #cb2424;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}
.form-auth__submit {
  min-width: 180px;
  min-height: 52px;
  width: fit-content;
  color: #fff;
  background: #1a226b;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin: auto;
  margin-top: 42px;
  padding: 5px 15px;
  transition: 0.2s all ease 0s;
}
.form-auth__submit:hover,
.form-auth__submit:active {
  background: #262e70;
}
.form-auth__submit:focus {
  background: #1d214b;
  outline-color: #222;
}

@media screen and (max-width: 769px) {
  .content {
    padding: 20px;
    height: 100%;
  }
  .form-auth {
    width: 100%;
    height: 100%;
    padding: 38px 45px;
  }
  .form-auth__title {
    font-size: 60px;
    margin-bottom: 5px;
  }
  .form-auth__row {
    margin-bottom: 5px;
  }
  .form-auth__row_required::before {
    top: 41px;
  }
  .form-auth__row_required-check::before {
    top: 12px;
  }
  .form-auth__label {
    font-size: 24px;
    padding: 8px;
  }
  .form-auth__wrapper-checkbox {
    margin-top: 10px;
  }
  .form-auth__input {
    padding: 6px 15px 7px;
  }
  .form-auth__label-checkbox {
    font-size: 18px;
  }
  .form-auth__label-checkbox::before {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }
  .form-auth__label-checkbox::after {
    top: 12px;
    left: 6px;
  }
  .form-auth__checkbox:checked + .form-auth__label-checkbox::after {
    font-size: 32px;
  }
  .form-auth__submit {
    margin-top: 59px;
  }
  .form-auth__submit {
    min-height: 80px;
    font-size: 32px;
    min-width: 33%;
  }
}
