* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(102, 46, 28, 0.7);
  height: 70px;
  padding: 10px 20px;
}
.header__text {
  font-size: 28px;
  color: #fff;
}

.content {
  flex-grow: 1;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__info {
  font-size: 36px;
  color: #c9a66b;
}

.footer {
  position: static;
  background-color: #c9a66b;
  height: 70px;
  padding: 10px 20px;
  color: #fff;
}
